@*
    DOM Traversal with jQuery    
*@
<div class="header">
    <h1 class="text-muted">jQuery DOM Traversal</h1>
</div>

<style>
    .special {
        color: blue;
    }
</style>


<ul class="list">
    <li>one</li>
    <li class="special">two</li>
    <li>three</li>
    <li>
        <br />
        <ul class="sublist">
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </li>
</ul>

<div style="text-align:center">
    <p>Here's the embedded tutorial:</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LYKRkHSLE2E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script>
        $(function () {
            $("li").on("click", function () {
                $(this).parent().addClass("special");
                if ($(this).is(".special")) {
                    alert("special");
                }
            });
        });
    </script>
